@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');


.desktop-nav,
.desktop-main,
.desktop-footer {
    display: none;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}

.mobile-nav {
    display: flex;
    justify-content: center;
    height: 85vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /* width: 100vw; */
    width: 100%;
    background-image: url("images\\bg-pattern-intro-mobile.svg"), linear-gradient(180deg, hsl(13, 100%, 72%), #ff6662);
    background-position: 31% 40%;
    border-bottom-left-radius: 10%;
}

.mobile-nav-div {
    width: 85vw;
}

.nav {
    margin-top: 6vh;
    width: 85vw;
    display: grid;
    grid-template-columns: auto auto;
}

.mobile-menu-div {
    display: flex;
    justify-content: right;
}

.menu {
    margin-top: 10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.mobile-more-info {
    margin-top: 9vh;
    display: grid;
    justify-items: center;
    text-align: center;
}

.mobile-hero-txt {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 2em;
}

.mobile-hero-subtxt {
    margin-top: -2vh;
    color: white;
    font-size: 1.2em;
    font-family: 'Overpass', sans-serif;
}

.mobile-learnmore-div>button {
    margin-top: 3vh;
    width: 27vw;
    height: 5vh;
    border-radius: 40px;
}

.mobile-start {
    margin-right: 2vw;
    background-color: white;
    color: hsl(353, 100%, 62%);
    font-weight: bold;
    border: 0px;
}

.mobile-learnmore {
    background-color: #ff7166;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.navigator {
    background-color: white;
    width: 85vw;
    height: 80vh;
    border-radius: 5px;
    position: absolute;
    top: 17vh;
    box-shadow: 0px 4px 10px;
    display: flex;
    justify-content: center;
}

.navigator-div {
    width: 65vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.navigator-div>div {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    color: hsl(237, 23%, 32%);
    font-size: 1.3em;
    margin-top: 4vh;
    cursor: pointer;
}

.navigator-div>.navigator-login {
    margin-top: 5vh;
}

.navigator-signup-btn {
    width: 32vw;
    height: 7vh;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5vh;
    background-image: linear-gradient(90deg, hsl(13, 100%, 72%), #ff6662);
    color: white;
    border: 0px;
    border-radius: 40px;
}

.mobile-product-div {
    display: grid;
    margin-top: 0;
    overflow-x: hidden;
}

.mobile-product {
    margin-top: -3vh;
    background-color: hsl(240, 2%, 79%, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 65vw;
    height: 30vh;
    border-radius: 5px;
    margin-bottom: 0;
}

.mobile-product>a {
    margin-top: 1vh;
    font-size: .9em;
    color: hsl(237, 23%, 32%);
    text-decoration: none;
}


.mobile-product-div>hr {
    border: 0px;
    height: .8px;
    background-color: hsl(240, 2%, 79%, .8);
    margin-bottom: -2vh;
    margin-top: 3vh;
}

.mobile-company-div {
    margin-top: 5px;
}

.mobile-company {
    margin-top: -3vh;
    background-color: hsl(240, 2%, 79%, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 65vw;
    height: 30vh;
    border-radius: 5px;
    margin-bottom: 0;
}

.mobile-company>a {
    margin-top: 3vh;
    font-size: .9em;
    color: hsl(237, 23%, 32%);
    text-decoration: none;
}

.mobile-company-div>hr {
    border: 0px;
    height: .8px;
    background-color: hsl(240, 2%, 79%, .8);
    margin-bottom: -2vh;
    margin-top: 3vh;
}

.mobile-company>.mobile-about {
    margin-top: 0;
}

.mobile-connect {
    background-color: hsl(240, 2%, 79%, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 65vw;
    height: 22vh;
    border-radius: 5px;
    margin-bottom: 0;
}



.mobile-connect>a {
    margin-top: 3vh;
    font-size: .9em;
    color: hsl(237, 23%, 32%);
    text-decoration: none;
}

.mobile-connect>.mobile-contact {
    margin-top: 0;
}

.mobile-connect-div {
    margin-top: 0;
}

.mobile-connect-div>hr {
    border: 0px;
    height: .8px;
    background-color: hsl(240, 2%, 79%, .8);
    margin-bottom: -1vh;
    margin-top: 3vh;
}

.display {
    display: none;
}

.mobile-future-div {
    margin-top: 14vh;
    text-align: center;
}

.mobile-future-heading {
    font-family: 'Overpass', sans-serif;
    color: hsl(237, 23%, 32%);
}

.mobile-future-txtdiv>div {
    margin-top: 10vh;
}

.mobile-future-txtdiv>div>h1 {
    font-family: 'Overpass', sans-serif;
    color: hsl(237, 23%, 32%);
    line-height: 30px;
}

.mobile-future-txtdiv>div>p {
    font-family: 'Overpass', sans-serif;
    color: hsl(240, 2%, 79%);
    word-spacing: 2px;
    line-height: 25px;
}

.mobile-infrastructure-wrapper {
    display: grid;
    grid-template-areas: "overlap";
    margin-top: 50vh;
}

.mobile-infrastructure-imgdiv {
    width: 100%;
    margin-top: -10vh;
    grid-area: overlap;
    margin-left: 0;
    display: grid;
    justify-items: center;
}

.mobile-infrastructure-imgdiv>img {
    width: 100vw;
}

.mobile-infrastructure-div {
    grid-area: overlap;
    margin-top: 16vh;
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(237, 17%, 21%);
    background-image: url("images\\bg-pattern-circles.svg");
    background-position: 35% 130%;
    background-repeat: no-repeat;
    border-top-right-radius: 7%;
    border-bottom-left-radius: 7%;
}

.mobile-infrastructure {
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.mobile-infrastructure-txtdiv {
    text-align: center;
    color: white;
}

.mobile-infrastructure-txtdiv>h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}

.mobile-infrastructure-txtdiv>p {
    font-size: 1em;
    line-height: 25px;
    margin-top: 0;
    font-weight: lighter;
    font-family: 'Overpass', sans-serif;
}

.mobile-description-div {
    width: 100%;
    margin-top: 20vh;
    display: grid;
    text-align: center;
    overflow-x: hidden;
}

.mobile-description-txtdiv>div {
    margin-top: 9vh;
}

.mobile-description-txtdiv>div>h1 {
    font-family: 'Overpass', sans-serif;
    color: hsl(237, 23%, 32%);
    line-height: 30px;
}

.mobile-description-txtdiv>div>p {
    font-family: 'Overpass', sans-serif;
    color: hsl(240, 2%, 79%);
    line-height: 1.7em;
    word-spacing: 2px;
}

.mobile-footer {
    font-family: 'Overpass', sans-serif;
    margin-top: 15vh;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 150vh;
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 7%;
    display: grid;
    justify-content: center;
    text-align: center;
}

.mobile-footer-div>div {
    color: white;
    font-size: 1.2em;
    margin-top: 10vh;
}

.mobile-footer-product,
.mobile-footer-company,
.mobile-footer-connect {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5vh;
}